<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cadastro</title>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 w-full max-w-sm shadow-md rounded-lg">

        <h2 class="text-center font-semibold text-2xl mb-6">Cadastro</h2>
        {% set styles = {
          'success': 'bg-green-100 text-green-700 border-green-300',
          'error': 'bg-red-100 text-red-700 border-red-300',
          'warning': 'bg-yellow-100 text-yellow-700 border-yellow-300'
        } %}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="mb-4 space-y-2">
            {% for category, message in messages %}
              <div class="p-3 rounded-lg text-sm text-center border {{styles[category]}}">
                {{ message }}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

        <form action="{{ url_for('auth_bp.register') }}" method="post">
            <label for="" class="block mb-1">Nome:</label>
            <input type="text" name="username" placeholder="Seu nome" class="w-full border border-gray-300 rounded px-3 py-2"><br>

            <label for="" class="block mb-1">Email:</label>
            <input type="email" name="email" placeholder="seuemail@exemplo.com" class="w-full border border-gray-300 rounded px-3 py-2"><br>

            <label for="" class="block mb-1">Senha:</label>
            <input type="password" name="password" placeholder="********" minlength="8" class="w-full border border-gray-300 rounded px-3 py-2">
            <label for="" id="msg_password"></label><br>

            <label for="" class="block mb-1">Confirmar senha:</label>
            <input type="password" name="confirm_password" placeholder="********" minlength="8" class="w-full border border-gray-300 rounded px-3 py-2">

            <button type="submit" class="w-full bg-purple-600 hover:bg-purple-700 rounded text-white transition px-3 py-2 mt-4">Cadastrar</button>
        </form>

        <p class="text-right mt-3">
            <a href="{{url_for('auth_bp.login_page')}}" class="text-blue-600 hover:underline">Login</a>
        </p>

    </div>
</body>
</html>